

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set outer container as flexbox */
.outer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 0px;
}

/* style the header-bar*/
.header-bar {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background-color: #d3c368;
    padding: 0px 50px;
    /*width: 1000px;*/
    height: 120px;
    top: 0;
    order: 0;  /*flex item order set to 1st*/
}

.mainHeader {
    align-items: left;
    font-size: 30px;
}


/* set the nav as flexbox */
.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-items ul li {
    display: inline-block;
    font-size: 16px;
    list-style: none;
    font-family: 'Georgia, sans-serif';      /*use first font if exist, if not support use second*/
    color: #242834;
    padding-left: 5px;
    padding-right: 5px;

}
.logo {
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 2x;

}

/* for catalog.html */
/*stlye the inner container: set it as a flexbox*/
.inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fdfcfb;
    
}


/*style the sidebar*/
.sidebar {
    width: 20%;
    border: none;
    text-align: center;
    padding: 20px 10px;
}

.TopSidebar{
    width: 100%;
    border: none;
    text-align: center;
    padding: 10px 10px;
}

/*style the container: set it using grid*/
.container {
    display: grid;
    width: 80%;
    margin: auto;
    padding: 20px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 0.3fr);
    background-color:  #fdfcfb;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    align-items: center;
    box-shadow: 0 10px 10px #7e7206;
}

/* Row 2 */
.when_label {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}


.when_input {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    padding: 0px;
}

.who_label {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}


.who_input {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.comment_label {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.comment_input {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.about_label {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.about_input {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.media_label {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}
.media_input {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.what_label {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.what_input {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.whom_label {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.whom_input {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.ref_label {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.ref_input {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}
/* Row 5 */
#submitBtn {
    grid-column-start: 5 ;
    grid-column-end: -1;
    background-color: #a89b28;
    color: white;
    font-family: 'Georgia, sans-serif';
    opacity: 1;         /*style button to show it is clickable */
    font-size: 15px;
    border: none;
    width: 120px;
    border-radius: 5px;
    background: #a89b28;
    padding: 5px;
    width: 150px;
    height: 30px;
    text-align: center;
    text-decoration: none;
}
.RightSidebar{
    width: 10%;
    border: none;
    text-align: center;
    padding: 10px 10px;
}

.BtmSidebar{
    width: 20%;
    border: none;
    text-align: center;
    padding: 10px 10px;
}

.fa-user-tag {
    color: #c2b684;
    font-size: 80px;
    padding: 10px 10px;
    
}

#submitBtn:hover{
    background: #8B4513;
    color: black;
    cursor: pointer;
}
.when_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}
.who_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}
.comment_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}
.about_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}
.media_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}

.what_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}
.whom_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}
.ref_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}


/*For Register.html.*/


.RegTopSidebar {
    border: none;
    text-align: center;
    padding: 20px 50px;
}

.reg_inner-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #fdfcfb;
    
}


.reg_container {
    display: grid;
    width: 30%;
    margin: auto;
    padding: 20px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 0.2fr);
    background-color:  #fdfcfb;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    align-items: left;
    
}

.email_label {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.email_input {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}

.pass_label {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}
.pass_input {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}


.NRIC_label {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.NRIC_input {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}

#register_Btn2 {
    grid-row-start: 9;
    grid-column-start: 1 ;
    grid-column-end: -1;
    color: white;
    font-family: 'Georgia, sans-serif';
    opacity: 1;         /*style button to show it is clickable */
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: #a89b28;
    padding: 3px;
    width: 430px;
    height: 30px;
    z-index: 1;
}

.RegRightSidebar {
    border: none;
    text-align: left;
    padding: 100px 350px;
}

.registerBtn {
    grid-row-start: 1;
    grid-column-start: 1 ;
    grid-column-end: -1;
    color: #0a0a0a;
    font-weight: bold;
    font-family: 'Georgia, sans-serif';
    opacity: 1;         /*style button to show it is clickable */
    font-size: 15px;
    background: #a89b28;
    width: 200px;
    height: 50px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #a89b28;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.loginBtn {
    grid-row-start: 1;
    grid-column-start: 6 ;
    grid-column-end: -1;
    color: #0a0a0a;
    font-weight: bold;
    font-family: 'Georgia, sans-serif';
    opacity: 0.4;         /*style button to show it is clickable */
    font-size: 15px;
    width: 200px;
    height: 50px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid grey;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.email_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}


.pass_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}

.NRIC_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}

#register_Btn2:hover{
    background: green;
    cursor: pointer


}


.registerBtn:hover {
    background-color: #cfdbf1;

}

.loginBtn:hover {                          /*usrOn default value is 0*/
    background-color: #cfdbf1;       /*this rule overides all previous styles rules */
}


/*for Login.html*/

.RegTopSidebar {
    border: none;
    text-align: center;
    padding: 20px 50px;
}

.Log_inner-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #fdfcfb;
    
}


.Log_container {
    display: grid;
    width: 30%;
    margin: auto;
    padding: 20px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 0.2fr);
    background-color:  #fdfcfb;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    align-items: left;
    
}

.email_label {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.emailAdd_input {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}

.pass_label {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}
.password_input {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}



#login_Btn2 {
    grid-row-start: 7;
    grid-column-start: 1 ;
    grid-column-end: -1;
    color: white;
    font-family: 'Georgia, sans-serif';
    opacity: 1;         /*style button to show it is clickable */
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: #a89b28;
    padding: 3px;
    width: 430px;
    height: 30px;
}

.LogRightSidebar {
    border: none;
    text-align: left;
    padding: 100px 350px;
}

.registerBtn2 {
    grid-row-start: 1;
    grid-column-start: 1 ;
    grid-column-end: -1;
    color: #0a0a0a;
    font-weight: bold;
    font-family: 'Georgia, sans-serif';
    opacity: 0.4;         /*style button to show it is non clickable */
    font-size: 15px;
    background: #a89b28;
    padding: 15px;
    width: 200px;
    height: 50px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid grey;
    text-align: center;
    text-decoration: none;
}

.loginBtn1 {
    grid-row-start: 1;
    grid-column-start: 6 ;
    grid-column-end: -1;
    color: #0a0a0a;
    font-weight: bold;
    font-family: 'Georgia, sans-serif';
    opacity: 1;         /*style button to show it is clickable */
    font-size: 15px;
    width: 200px;
    height: 50px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #a89b28;
    text-align: center;
    text-decoration: none;
    padding: 15px;

}

.emailAdd_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}


.password_input:hover{
    box-shadow: 0 5px 5px #7e7206;
}



#login_Btn2:hover{
    background: green;
    cursor: pointer
}


.registerBtn2:hover {
    background-color: #cfdbf1;
    
}

.loginBtn:hover {                         
    background-color: #cfdbf1;   
 
}


/* For Upload HTML */
.Upload_inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fdfcfb;
    
}



.Up_container {
    display: grid;
    width: 60%;
    margin: 10px;
    padding: 20px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 0.3fr);
    background-color:  #fdfcfb;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    align-items: center;
    
}


/* Row 2 */

.UploadHeader {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 40px;
    color: #0a0a0a;
    text-align: left;
    margin-right: 5px;
}

.Upload_label {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 20px;
    color: #0a0a0a;
    text-align: left;
    margin-right: 5px;

}


.Upload_input {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 9;
    font-size: 15px;
    color: #0a0a0a;
    text-align: left;
    margin-right: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}

#upload_Btn2 {
    grid-row-start: 5;
    grid-column-start: 1 ;
    grid-column-end: -1;
    background-color: #a89b28;
    color: white;
    font-family: 'Georgia, sans-serif';
    opacity: 1;         /*style button to show it is clickable */
    font-size: 15px;
    border: none;
    border-radius: 1px;
    background: #a89b28;
    padding: 5px;
    width: 525px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}


/* for dashboard */

.dash_inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fdfcfb;
    
}



.dash_container {
    display: grid;
    width: 60%;
    margin: 10px;
    padding: 20px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 0.3fr);
    background-color:  #fdfcfb;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    align-items: center;
    
}


/* Row 2 */

.dashHeader {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 40px;
    color: #0a0a0a;
    text-align: left;
    margin-right: 5px;
}